<div class="container">
  <h2>Todo List</h2>
  <div>
    <input [(ngModel)]="newTaskText" placeholder="Add new task" />
    <span>Choose category: </span>
    <select [(ngModel)]="newTaskCategory" name="category">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>

    <app-button (click)="addTask()">Add</app-button>
  </div>

  <ul class="todo-list">
    <app-todo-item
      *ngFor="let task of tasks"
      [task]="task"
      (toggleDone)="toggleDoneTask(task)"
      (remove)="removeTask(task.id)"
    ></app-todo-item>
  </ul>
</div>
