.icon-btn {
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #9c9c9c;
  font-size: 20px;
  transition: color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #007bff;
  }
}
