.done {
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 4px;
  padding: 6px;

  label {
    flex: 1;
  }
}

.general {
  background-color: pink;
}

.shopping {
  background-color: yellow;
}

.home {
  background-color: lightblue;
}

.work {
  background-color: navajowhite;
}

.hobby {
  background-color: violet;
}
