.done {
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
  padding: 6px;
}

app-button {
  margin-left: auto;
}

.general {
  background-color: pink;
}

.shopping {
  background-color: yellow;
}

.home {
  background-color: lightblue;
}

.work {
  background-color: navajowhite;
}

.hobby {
  background-color: violet;
}
